.git
.github
.env
.env.*
.phpunit.result.cache
node_modules
vendor
tests
README.md

storage/logs
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/testing/*
storage/framework/views/*
public/storage
